<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='/stylesheets/app.css'>
	<link rel="stylesheet" href='/stylesheets/index.css'>
    <link rel="stylesheet" href='/stylesheets/header.css'>
</head>
<body>
    <section class="contenedorHeader">
        <div class="userBoton">
            <img class="userBtn" src="./images/icons/user-icon.svg" alt="usrer" srcset="">
            <img class="regisBtn" src="./images/icons/register-icon.svg" alt="login" srcset="">
        </div>
        <div class="logo"><img src="./images/NwLogo.svg" alt="Logo"></div>
        <div class="seccionBusqueda">
            <form class="formularioBusqueda" action="/" method="get" >
                <button class="botonBusqueda"><img src="./images/icons/icon-search.svg" alt="searchIcon" srcset=""></button>
                <input type="text" name="search" value="" placeholder="ingrese busqueda...." class="searchInput">
            </form>
        </div>
    </section>
</body>
</html>