<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head.ejs') %> 
<body>
	<!-- Header -->
	<%- include('./partials/headerNw.ejs') %> 
	
	<!-- /Header -->
	<section class="banners">
		<article class="imgBanner">
			<h2 class="brandName">NIKE</h2>
			<h4 class="brandProduct1">JORDANS</h4>
			<h4 class="brandProduct2">BLAZERS</h4>
			<h4 class="brandProduct3">AIR FORCE</h4>
		</article>
		<article class="brandProducts">
			<img src="/images/logo-nike.svg" class="brandLogo">
			<a class="card" href="/product">
				<img class = "productImg" src="./images/products/jordanNW.png" alt="Product">
				<div class="textContainer">
					<p class="nameProduct"> [Air Jordan 12 Playoff]</p>
				</div>
				</a>
			</a>
		</article>
	</section>

	<!-- footer -->
	<%- include('./partials/footerNw.ejs') %>
	<!-- /footer -->
</body>	
</html>