<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head.ejs') %> 
<body>
	<!-- Header -->
	<%- include('./partials/headerNw.ejs') %> 
	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title" id="ingresar">Iniciar  Sesion</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
				<form action="/" method="get">

					<div class="containerLogin">
						<!--*USERNAME-->
						<div class="usuarioLogin">
							<label id="idDelBreak"> UserName</label>
							<input name="username" type="text" placeholder="Username" required>
						</div>
						<!--*PASSWORD-->
						<div class="passwordBox">
							<label id="idDelBreak"> Password   </label>
							<input id="passwordInput" type="password" name="password" placeholder="Password" required>
						</div>
						<!--*REMINDBOX-->
						<div class="remindBox">
							<label id="idDelBreak"> Remember Me </label>
							<input class="checkBox" type="checkbox" name="remember">
						</div>

						<div class="sendForm">
							<button class="enviarForm" type="submit">Enviar</button>
						</div>	

					</div>
				</form>
		</div>
	<!-- footer -->
	<%- include('./partials/footerNw.ejs') %>
	<!-- /footer -->
</body>

</html>