<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head.ejs') %> 
<body>
	<!-- Header -->

	<%- include('./partials/headerNw.ejs') %> 
	
	<!-- /Header -->
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title" id="agregarProductos">Mis productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
		<div class="contenedorPrinProd"> 
			<form action="" method="POST" enctype="multipart/form-data"> 	<!-- Action va vacio porque la ruta dek post es la misma solo que x post -->
				<div class="containerProduct"> 	
					<div class="nombreBox">
						<p>Nombre</p>
						<input type="trxt" placeholder="Nombre" name="nombre">
					</div> 
					<br>
					<div class="descripcionBox">
						<p>Descripcion</p>
						<input type="text" placeholder="Descripcion" name="desc">
					</div> 
					<br>
					<div class="fechaBox">
						<p>Fecha de elaboracion</p>
						<input type="date" placeholder="Fecha" name="date">
					</div> 
					<br>
					<div class="fotoBox">
						<p>Ingrese una imagen</p>
						<input type="file" name="foto">
					</div> 
					<br>
					<div class="submit box">
						<p>Presione para agregar producto. </p>
						<input type="submit" value="Enviar">
					</div> 	
				</div>
			</form>
		</div>
		</div>
	</div>

	<!-- footer -->
	<%- include('./partials/footerNw.ejs') %>
	<!-- /footer -->
</body>

</html>