<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head.ejs') %> 
<body>
	<!-- Header -->
	<%- include('./partials/headerNw.ejs') %> 
	
	<!-- /Header -->
	
	<!-- product detail -->
	<section class="product-detail">
		

	</section>

		
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footerNw.ejs') %>
	<!-- /footer -->

</body>	
</html>