<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head.ejs') %> 
<body>
	<!-- Header -->
	<%- include('./partials/headerNw.ejs') %> 
	
	<!-- /Header -->
	
	<!-- product detail -->
	 <section class="product-detailNW">
		<article class="product-product">
			<img src="./images/products/jordanNW.png" class="product-img">
			<div class="container-info">
				<h3 class="product-name"> [Air Jordan 12 Playoff] </h3>
				<p class="product-desc"> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo</p>
				<img src="./images/icons/icon-add.svg" class="add-product">
			</div>
		</article>
		<article class="coments-container">
			<div class="titulos-comentarios">
				<h2 class="comentarios-title">Comentarios</h2>
				<img src="./images/icons/icon-add.svg" class="add-coment">
			</div>
			<artcile class="lista-comentarios">
				<div class="contianer-comentario">
					<img src="./images/users/default-image.png" class="img-comentario">
					<div class="texto-comentario">
						<p class="username-comentario">Federico Kozak</p>
						<p class="desc-comentario">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At</p>
					</div>
				</div>
			</artcile>			
		</article>
	</section> 


		
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footerNw.ejs') %>
	<!-- /footer -->

</body>	
</html>