<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head.ejs') %> 
<body>
	<!-- Header -->
	<%- include('./partials/headerNw.ejs') %> 
	<!-- /Header -->

	<!--Formulario de register--> 
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="registerTitle">REGISTER</h2>
			</div>	
		</div>
		<form action="/user/register" method="post">	
		<div class="contenedorPrincipal">
			<div class="containerRegister">
				<div class="emailBox">
					<label for="email"><b id="idDelBreak">Email</b id="idDelBreak"></label>
					<br>
					<input type="text" name="email" id="email" placeholder="insert email" required>
				</div>
				<div class="userBox">
					<label for="text"><b id="idDelBreak">UserName</b id="idDelBreak"></label>
					<br>
					<input type="text" name="user" id="user" placeholder="UserName" required>
				</div>
				<div class="passBox">
					<label for="psw"><b id="idDelBreak">Password</b id="idDelBreak"></label>
					<br>
					<input type="password" name="password" id="password" placeholder="insert password" required>
				</div>
				<div class="dniBox">
					<label for="number"><b id="idDelBreak">Citizent Number</b id="idDelBreak"></label>
					<br>
					<input type="number" name="dni" id="dni" placeholder="Citizent number" required>
				</div>
				<div class="dniBox">
					<label for="number"><b id="idDelBreak">Birth date</b id="idDelBreak"></label>
					<br>
					<input type="date" name="fechaDeNacimiento" id="dni" placeholder="Citizent number" required>
				</div>
				<div class="profileBox">
					<label for="file"> <b id="idDelBreak">Define Profile Pic</b id="idDelBreak"></label>
					<br>
					<input type="file" name="profilePic" id="profilePic" placeholder="Defina foto de perfil" required>
				</div>
				<button type="submit" class="enviarButton">SEND</button>
			</div>
		</div>
		</form>
	<!-- footer -->
	<%- include('./partials/footerNw.ejs') %>
	<!-- /footer -->
</body>

</html>