* { box-sizing: border-box; }
	body { margin: 0; }	
ul, ol { padding: 0; }
li { list-style-type: none; }
a { text-decoration: none; color: #000; }

.banners {
    height: 85vh;
    display:flex;
}

.imgBanner {
    width: 60%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('/images/bannerNike.png');
    background-position: 70%;
    background-repeat: no-repeat;
    
}

.brandName {
    color: white;
    font-size:8em;
    margin-bottom:0;
    margin-left: 10%;
    font-family: 'Robot Roc', sans-serif;

}

.brandProduct1 {
    font-size:5em;
    margin-top:3%;
    margin-left: 20%;
    font-family: 'Robot Roc', sans-serif;
    color: #EE541B;
}

.brandProduct2 {
    color: white;
    font-size:5em;
    margin-top:3%;
    margin-left: 30%;
    font-family: 'Robot Roc', sans-serif;
}

.brandProduct3 {
    color: white;
    font-size:5em;
    margin-top:3%;
    margin-left: 40%;
    font-family: 'Robot Roc', sans-serif;
}

.brandProducts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5%;
    width:40%;
}

.frase{
    display: flex;
    flex-direction: row;
}

.frase p{
    font-size: 4em;
    font-weight: 600;
}

.brandLogo {
    width: 25%;
    margin-right: 30%;
    margin-left: 5%;
}

.card {
    width: 45%;
    height:55%;
    background-color:black;
}

.img-container {
    height: 87%;
}

.productImg {
    height: 100%;
    filter: brightness(60%);
}

.textContainer {
    text-align:center;
}

.nameProduct { 
    color: white; 
    font-size:1.5em;
    font-family: 'Questrial', sans-serif;
}
/* 
Carousel */

